<launch>
  <!-- Robot Diamension -->
  <!-- Map -->
  <arg name="map_file" default="$(find environment)/maps/903_2.yaml"/>
  <arg name="amcl_map_file" default="$(find environment)/maps/903_2.yaml"/>
  
  <!-- Robot Parameters-->
  <!-- robot config -->
  <rosparam file="$(find launcher)/param/nav_params.yaml" ns="move_base" />
  <!-- AMCL init pose -->
  <rosparam file="$(find launcher)/param/amcl_init.yaml" ns="amcl"/>

  <include file="$(find ghost)/launch/boot_ml.launch">
    <arg name="sim" value="false"/>
    <arg name="tf" value="true"/>
    <arg name="navigation" value="true"/>
    <arg name="agv" value="true"/>
    
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="amcl_map_file" value="$(arg amcl_map_file)"/>
    <arg name="keyboard" value="false"/>
    <arg name="joystick" value="false"/>
    
    <arg name="duration" value="5m"/>
    <arg name="split" value="100"/>
  </include>
  
  <!-- <include file="$(find launcher)/launch/envirTF.launch"/> -->
  <!-- Environment TF -->
  <!-- <node pkg="environment" name="static_broadcaster" type="static_broadcaster"/> -->
  <!-- Drive -->
  <include file="$(find drive)/launch/slam.launch"/>
  <!-- Velodyne lidar --> 
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
  <!-- velodyne tf -->
  <node pkg="tf" type="static_transform_publisher" name="agv_lidar2velodyne_publisher"
  	args="0 0 0 0 0 0 agv_lidar velodyne 10" />
  <!-- joystick -->
  <node pkg="drive" type="joy2cmd_vel.py" name="joy2cmd_vel"/>

  <!-- data transformer -->
  <node pkg="data_transformer" type="data_transformer" name="data_transformer">
  </node>

</launch>
