[submodule "src/velodyne"]
	path = src/velodyne
	url = https://github.com/ros-drivers/velodyne.git
[submodule "src/joystick_drivers"]
	path = src/joystick_drivers
	url = ssh://whwong@192.168.13.82:29418/~whwong/ros_navigation/joystick_drivers.git
[submodule "src/drive"]
	path = src/drive
	url = /media/whwong/NEWVOLUME16/LSCM/drive
[submodule "src/data_saver"]
	path = src/data_saver
	url = ssh://whwong@192.168.13.82:29418/~ycjiang/data_saver.git
