<launch>
  <!-- agv -->
  <include file="$(find boot)/launch/agv.launch">
    <arg name="sim" value="false"/>
    <arg name="keyboard" value="false"/>
    <arg name="joystick" value="true"/>
    <arg name="joy_dev" default="/dev/input/js0"/>
    <!-- <arg name="joystick_autorepeat_rate" value="30"/> -->
  </include>
  
  <include file="$(find launcher)/launch/load_param.launch"/>
</launch>
