<?xml version="1.0"?>
<launch>
  <include file="$(find launcher)/launch/tf_agv.launch">
    <arg name="sim" value="true"/>
    <arg name="ns" value="/"/>
    <arg name="joint_pub" value="false"/>
    <arg name="shift_x" default="-3.0"/>
    <arg name="shift_y" default="-11.75"/>
  </include>
  
  <!-- friction_cylinder | friction_box | friction_sphere -->
  <!--<include file="$(find launcher)/launch/tf_test.launch">
    <arg name="name" value="friction_sphere"/>
    <arg name="shift_x" default="0.0"/>
    <arg name="shift_y" default="0.0"/>
  </include>-->
</launch>
