<launch>
  <!-- Map -->
  <arg name="map_file" default="$(find environment)/maps/3_14_lab_3.yaml"/> 

  <include file="$(find boot)/launch/boot.launch">
    <arg name="sim" value="false"/>
    <arg name="tf" value="true"/>
    <arg name="ur5" value="true"/>
    <arg name="navigation" value="true"/>
    <arg name="agv" value="true"/>
    <arg name="lidar" value="true"/>
    
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="ur_ip" value="192.168.3.2"/>
    <arg name="sick_ip" value="192.168.2.2"/>
    <arg name="keyboard" value="false"/>
    <arg name="joystick" value="true"/>
    <arg name="parking" default="true"/>
  </include>

  <!-- Power management --> <!--Plan to auto run when startup-->
  <include file="$(find launcher)/launch/r2d2_power.launch">
  </include>
  
  <!-- Camera -->
  <!-- <include file="$(find launcher)/launch/r2d2_cam_left.launch"/>
  <include file="$(find launcher)/launch/r2d2_cam_right.launch"/>  
  <include file="$(find launcher)/launch/r2d2_cam_hand.launch"/> -->
  
  <include file="$(find launcher)/launch/envirTF.launch"/>
  <include file="$(find launcher)/launch/load_param.launch"/>
</launch>
