<launch>
  <arg name="output" default="log"/>
  <arg name="bundle" default="true"/>
  <arg name="node_name" default="ar_track_alvar"/>
  
  <arg name="marker_size" default="9.0" />
  <arg name="max_new_marker_error" default="0.04" />
  <arg name="max_track_error" default="0.05" />
  <arg name="cam_image_topic" default="" />
  <arg name="cam_info_topic" default="" />
  <arg name="output_frame" default="" />
  
  <arg name="bundle_files" default="" />

  <node if="$(arg bundle)" name="$(arg node_name)" pkg="ar_track_alvar" 
        type="findMarkerBundlesNoKinect" 
        respawn="false" output="$(arg output)" args="$(arg marker_size) 
                                                     $(arg max_new_marker_error) 
                                                     $(arg max_track_error) 
                                                     $(arg cam_image_topic) 
                                                     $(arg cam_info_topic) 
                                                     $(arg output_frame) 
                                                     $(arg bundle_files)">
  </node>
  
  <node unless="$(arg bundle)" name="$(arg node_name)" pkg="ar_track_alvar" 
        type="individualMarkersNoKinect" 
        respawn="false" output="$(arg output)" args="$(arg marker_size) 
                                                     $(arg max_new_marker_error) 
                                                     $(arg max_track_error) 
                                                     $(arg cam_image_topic) 
                                                     $(arg cam_info_topic) 
                                                     $(arg output_frame)">
  </node>
</launch>
