<launch>
  <arg name="static_tf_lidar_x" default="0.0"/>
  <arg name="static_tf_lidar_y" default="0.0"/>
  <arg name="static_tf_lidar_z" default="0.0"/>
  
  <!-- Parameters -->
  <!-- <rosparam file="$(find launcher)/param/buildmap_tf.yaml" /> -->
  
  <include file="$(find ghost)/launch/buildmap.launch">
    <arg name="sim" value="false"/>
    <arg name="keyboard" value="false"/>
    <arg name="joystick" value="false"/>
    <!-- <arg name="joy_dev" default="/dev/input/js0"/> -->
    
    <arg name="lidar_x" value="$(arg static_tf_lidar_x)"/>
    <arg name="lidar_y" value="$(arg static_tf_lidar_y)"/>
    <arg name="lidar_z" value="$(arg static_tf_lidar_z)"/>
  </include>
  
  <!-- <include file="$(find rplidar_ros)/launch/rplidar.launch"/> -->
  
  <!-- <include file="$(find launcher)/launch/load_param.launch"/> -->
</launch>
