<launch>
  <arg name="ns" default=""/>
  <arg name="world" />
  <arg name="gui" default="true"/>

  <!-- World -->
  <arg name="world_path" default="$(find config_env)/gazebo_world/$(arg world).world"/>


  <!-- Gazebo -->
  <include file="$(find ghost)/launch/boot.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="gazebo" value="true"/>

    <arg name="world_name" value="$(arg world_path)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>>
</launch>
