<launch>
  <!-- BOOT -->
  <arg name="ns" default=""/>
  <arg name="robot" default="robot"/>
  <arg name="param" default="eband_1"/>
  <arg name="map" default="env7"/>
  <arg name="amcl_map" default=""/>


  <include file="$(find ghost)/launch/boot.launch">
  	<arg name="ns" value="$(arg ns)"/>
  	<arg name="param" value="$(arg param)"/>
  	
  	<arg name="tf" value="true"/>
  	<arg name="robot" value="$(arg robot)"/>
  	
    <arg name="navigation" value="true"/>
    <arg name="map_name" value="$(arg map)"/>
    <arg name="amcl_map_name" value="$(arg amcl_map)"/>
    
    <arg name="manual" value="false"/>
    <arg name="joystick" value="false"/>
    
    <arg name="rosbag" value="false"/>
    <arg name="duration" value="5m"/>
    <arg name="split" value="100"/>
  </include>


  <!-- Drive -->
  <include file="$(find drive)/launch/slam.launch"/>
  <!-- Velodyne lidar -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
    <arg name="device_ip" value="192.168.1.201" />
    <arg name="max_range" value="13.0" />
    <arg name="laserscan_resolution" value="0.0087" />
  </include>
  <!-- velodyne tf -->
  <node pkg="tf" type="static_transform_publisher" name="agv_lidar2velodyne_publisher"
  	args="0 0 0 0 0 0 agv_lidar velodyne 10"/>
  <!-- data transformer -->
  <node pkg="data_transformer" type="data_transformer2" name="data_transformer2"/>
  <!-- <node pkg="data_transformer" type="data_transformer3" name="data_transformer3"/> -->
</launch>
