<launch>
  <!-- BOOT -->
  <arg name="ns" default=""/>
  <arg name="env_config" />
  <arg name="urdf_config" />
  <arg name="param_config" />
  <arg name="robot" />
  <arg name="world" />

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="gui" default="false"/>
  <arg name="joystick" default="false"/>


  <!-- Robot -->
  <include file="$(find launcher)/launch/simworld.launch">
    <arg name="config" value="$(arg env_config)"/>
    <arg name="world" value="$(arg world)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <include file="$(find launcher)/launch/simspawn.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="config" value="$(arg urdf_config)"/>

    <arg name="robot" value="$(arg robot)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
  </include>

  <include file="$(find launcher)/launch/simnav.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="config" value="$(arg param_config)"/>
    <arg name="map_config" value="$(arg env_config)"/>
    <arg name="map" value="$(arg world)"/>
    <arg name="joystick" value="$(arg joystick)"/>
    <arg name="rviz" value="$(arg gui)"/>
  </include>
</launch>
