<launch>
  <arg name="ns" default=""/>
  <arg name="robot" default="robot"/>
  <arg name="param" default="eband_1"/>

  <include file="$(find ghost)/launch/boot.launch">
    <arg name="tf" value="true"/>
    <arg name="robot" value="$(arg robot)"/>
    
    <arg name="navigation" value="true"/>
    <arg name="use_amcl" default="false"/>
    <arg name="use_gmapping" default="true"/>
    
    <arg name="manual" value="true"/>
    <arg name="joystick" value="true"/>
  </include>
</launch>
