<launch>
  <!-- BOOT -->
  <arg name="ns" default=""/>
  <arg name="robot" default="robot"/>
  <arg name="param" default="eband_1"/>
  <arg name="map" default="env7"/>
  <arg name="amcl_map" default=""/>

  <!-- Robot -->
  <include file="$(find ghost)/launch/boot.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="param" value="$(arg param)"/>
    
    <arg name="navigation" value="true"/>
    <arg name="map_name" value="$(arg map)"/>
    <arg name="amcl_map_name" value="$(arg amcl_map)"/>
  </include>


  
</launch>
