<launch>
  <!-- BOOT -->
  <arg name="ns" default=""/>
  <arg name="config" />
  <arg name="map_config" />
  <arg name="map" />

  <arg name="joystick" default="false"/>

  <arg name="rviz" default="true"/>
  <arg name="rviz_config" default="true"/>
  <arg name="rviz_debug" default="false"/>


  <!-- Robot Parameters-->
  <!-- Map -->
  <arg name="map_path" default="$(arg map_config)/maps/$(arg map).yaml"/>
  <arg name="amcl_map_path" default="$(arg map_config)/maps/$(arg map).yaml"/>

  <!-- Robot -->
  <include file="$(find ghost)/launch/boot.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="config" value="$(arg config)"/>
    <arg name="sim" value="true"/>
    <arg name="navigation" value="true"/>
    <arg name="agv" value="true"/>

    <arg name="map_file" value="$(arg map_path)"/>
    <arg name="amcl_map_file" value="$(arg amcl_map_path)"/>
    <arg name="joystick" value="$(arg joystick)"/>
  </include>


  <!-- rviz -->
  <arg unless="$(arg rviz_debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg rviz_debug)" name="launch_prefix" value="gdb --ex run --args"/>

  <arg unless="$(arg rviz_config)" name="command_args" value=""/>
  <arg     if="$(arg rviz_config)" name="command_args" value="-d $(arg config)/rv.rviz"/>

  <node if="$(arg rviz)" name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
	args="$(arg command_args)" output="screen">
  </node>
</launch>
