<launch>
  <arg name="world_name" default="$(find environment)/worlds/env7.world"/>
  <arg name="shift_x" default="0.0"/>
  <arg name="shift_y" default="0.0"/>
  <arg name="shift_z" default="0.0"/>
  <arg name="gui" default="true"/>
  <arg name="helloworld_tf" value="false"/>

  <!-- Gazebo-->
  <include file="$(find ghost)/launch/helloworld.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="shift_x" value="$(arg shift_x)"/>
    <arg name="shift_y" value="$(arg shift_y)"/>
    <arg name="shift_z" value="$(arg shift_z)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="tf" value="$(arg helloworld_tf)"/>
  </include>>
</launch>
